.dialog {
  display: flex;
  flex-direction: column;

  mat-dialog-content {
    overflow: unset;
  }
  mat-dialog-actions {
    justify-content: space-between;
  }

  mat-checkbox:first-of-type{
      margin-top: 10px;
  }
}

.life-counter-configuration {
  display: flex;
  flex-direction: column;
}
