<div class="dialog">
  <h1 mat-dialog-title>Life Counter Configuration</h1>
  <form [formGroup]="lifeCounterConfiguration" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="life-counter-configuration">
      <mat-form-field>
        <mat-label>Number of Players</mat-label>
        <mat-select formControlName="playerNumber">
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Starting Life Total</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex. 40"
          min="1"
          max="100"
          value="20"
          formControlName="startingLifeTotal"
        />
        <mat-error
          *ngIf="lifeCounterConfiguration.get('startingLifeTotal')?.invalid"
          >{{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>
      <mat-checkbox formControlName="commander"
        >Keep Track of Commander Damage</mat-checkbox
      >
      <mat-checkbox formControlName="poison"
        >Keep Track of Poison Counters</mat-checkbox
      >
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon><span>Cancel</span>
      </button>
      <button
        mat-raised-button
        type="submit"
        [disabled]="!lifeCounterConfiguration.valid"
      >
        <mat-icon>check</mat-icon><span>Confirm</span>
      </button>
    </mat-dialog-actions>
  </form>
</div>
