.player1{
    background-color: antiquewhite;
}
.player2{
    background-color: honeydew;
}
.player3{
    background-color: thistle;
}
.player4{
    background-color: sandybrown;
}
.player5{
    background-color: darkseagreen;
}
.player6{
    background-color: khaki;
}
.config-button{
    text-align: center;
    margin-top: 10px;

    mat-icon{
        padding-left: 10px;
    }
}